
.card-img-choose{
  padding:2%;
}
.file {
  visibility: hidden;
  position: absolute;
}


 

  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
    margin: 0px;
  }
  
 
  
  
  /*---------------------------------------------*/
  input {
    outline: none;
    border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  

  label {
    margin: 0;
    display: block;
  }
  
  /*---------------------------------------------*/
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  iframe {
    border: none !important;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
  }
  
  
 
  
  .btn-primary{
    background-color: #6648b1;
    border: 1px solid #6648b1;
  
  }
  
  .btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
  
  }
  
  .jumbotron{
    padding: 1rem;
    border-radius: 0;
  }
  .padding{
    padding-bottom: 2rem;
  }
  
  .welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  
  .welcome hr{
    border-top:2px solid #b4b4b4;
    width:95%;
    margin-top:.3rem;
    margin-bottom: 1rem;
  }
  

  
   .footer{
     background-color: #3f3f3f;
     color: #d5d5d5;
     padding-top:2rem;
   }
  
   hr.light{
     border-top: 1px solid #d5d5d5;
     width: 75%;
     margin-top:.8rem;
     margin-bottom: 1rem;
   }
  
   .footer a{
     color: #d5d5d5;
  
   }
  
   hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top:.8rem;
    margin-bottom: 1rem;
  }
  
  /* media queries */
  
 
  .card_details{
    margin-bottom:20px;
  }


  .modal-dialog {
    max-width: 400px;
    margin: 1.75rem auto;
  }

  .post-upload-dialog {
    max-width: 60%;
    
  }

  
  .post-upload-dialog-text{
    width: 60% !important;
  }




  
  
  .form-control{
    margin: auto;
    width: 100%;
  }
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    /* letter-spacing: .1rem; */
    /* font-weight: bold; */
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  

  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  

  
 
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
  
  
  .signinbtn{
    background-color: #007bff !important;
    color: #ffffff;
  }
  
  

  
  .btn-primary{
    background-color: #6648b1;
    border: 1px solid #6648b1;
  
  }
  
  .btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
  
  }
  
  .jumbotron{
    padding: 1rem;
    border-radius: 0;
  }
  .padding{
    padding-bottom: 2rem;
  }
  
  .welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  
  .welcome hr{
    border-top:2px solid #b4b4b4;
    width:95%;
    margin-top:.3rem;
    margin-bottom: 1rem;
  }
  

  
 

   hr.light{
     border-top: 1px solid #d5d5d5;
     width: 75%;
     margin-top:.8rem;
     margin-bottom: 1rem;
   }
  
 
   hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top:.8rem;
    margin-bottom: 1rem;
  }


  .call_section{
      background: url('../images/background.png') center center no-repeat fixed !important;
      background-size: cover !important;
  }