/* .profile_background{
    background-color: #333;
} */

    /* .border{
      border-bottom:1px solid #F1F1F1;
      margin-bottom:10px;
    } */
    /* .main-secction{
      box-shadow: 10px 10px 10px;
    } */
/* .header-container{

  width: 100%;
  height: 900px;
  border-left: none;
  border-right: none;
  position: relative;
  padding:20px;
}
.video-container{
  position: absolute;
  top:0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden ;
}

video{
  position: absolute;
  z-index: -1;
  opacity: 0.78;
  width:100%;

} */

.video-background{
  position: absolute;
  width:100%;
  min-height: 100vh;
}

    .filepond--file-action-button{
      transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1);
      opacity:1;

    }
    .text_color{
      color: #7b1fa2;
    }

    .info_text_color{
      color: teal;
    }

    .tab-content{
    line-height: 1.2;
    }


.l022CW{
  padding-bottom: 56px;
  
}

._2aK_Hc{
  padding-bottom: 24px;
}

._2aK_Hc ._10it6k {
  font-size: 18px;
  font-weight: 500;
  padding-right: 24px;
}

._2aK_Hc ._1x4IU1 {
  font-size: 14px;
  font-weight: 500;
  color: #2874f0;
  cursor: pointer;
}

._2kN0A- {
  padding-bottom: 2px;
}

/* .col, .row {
  width: 100%;
} */


.row {
display: flex;

flex-flow: row wrap;
}

._2kN0A- ._3wj6q3 {
  width: 270px;
  padding-right: 12px;
}
.Th26Zc {
  position: relative;
  margin-bottom: 10px;
}

._16qL6K:disabled {
  background-color: #fafafa;
  cursor: not-allowed;
}
._2pf-sU {
  padding: 16px;
  color: #878787;
}

._366U7Q {
  height: 50px;
}

._16qL6K {
  width: 100%;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  outline: none;
  border-radius: 2px;
  padding: 20px 16px 0 13px;
  box-shadow: none;
  -moz-appearance: textfield;
}

._366U7Q {
  height: 50px;
}
._2kN0A- ._3wj6q3 {
  width: 270px;
  padding-right: 12px;
}

.yt2AKW {
  padding: 12px 0;
}
._2FAt1l {
  font-size: 16px;
}
._1YWe2- {
  color: #878787;
  cursor: not-allowed;
}
._2pmKiA {
  color: #878787!important;
  cursor: not-allowed;
}
._2tcMoY {
  border-bottom: none;
  display: inline-block;
  margin-right: 32px;
}
._1Icwrf {
  cursor: auto;
}
._8J-bZE {
  cursor: pointer;
}

._2haq-9 {
  visibility: hidden;
  position: absolute;
}
._2haq-9:checked~._6ATDKp {
  border-color: #2874f0;
}
._1YWe2- ._6ATDKp {
  border-color: #c2c2c2;
  cursor: not-allowed;
}
._2pmKiA>._6ATDKp {
  border-color: #c2c2c2!important;
  cursor: not-allowed;
}
._2tcMoY ._6ATDKp {
  margin-top: 2px;
  margin-left: 0;
}
._6ATDKp {
  display: inline-block;
  border: 2px solid #979797;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  position: relative;
  vertical-align: top;
  margin-top: 3px;
  cursor: pointer;
}

._2tcMoY ._2o59RR {
  margin-left: 12px;
  width: auto;
}
._2o59RR {
  display: inline-block;
  margin-left: 18px;
  width: calc(100% - 34px);
}

._2FAt1l {
  font-size: 16px;
}
._2pmKiA {
  color: #878787!important;
  cursor: not-allowed;
}
._2tcMoY {
  border-bottom: none;
  display: inline-block;
  margin-right: 32px;
}
._8J-bZE {
  cursor: pointer;
}


._2pmKiA>._6ATDKp {
  border-color: #c2c2c2!important;
  cursor: not-allowed;
}
._2tcMoY ._6ATDKp {
  margin-top: 2px;
  margin-left: 0;
}
._6ATDKp {
  display: inline-block;
  border: 2px solid #979797;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  position: relative;
  vertical-align: top;
  margin-top: 3px;
  cursor: pointer;
}

._2tcMoY ._2o59RR {
  margin-left: 12px;
  width: auto;
}
._2o59RR {
  display: inline-block;
}



._20i8vs {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  padding: 18px 20px 0;
  font-size: 14px;
  color: #878787;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease;
}
._2-ipjT, ._20i8vs {
  pointer-events: none;
  width: 100%;
}
._20i8vs {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  padding: 18px 20px 0;
  font-size: 14px;
  color: #878787;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease;
}
._2-ipjT, ._20i8vs {
  pointer-events: none;
  width: 100%;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}




._2kN0A- .rAx-Sv {
  background: #2874f0;
  width: 130px;
  height: 48px;
  padding: 14px;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  box-shadow: none;
}

._2AkmmA {
  display: inline-block;

  font-weight: 500;
  transition: box-shadow .2s ease;
  vertical-align: super;

  cursor: pointer;
  outline: none;

  border: 1px solid #e0e0e0;

}








    .label_name{
      position: absolute;
      font-family: Roboto,Arial,sans-serif;
      letter-spacing: 0;
    }

    .first_name{
      border: 1px solid #e0e0e0;
      background-color: #fafafa;
    }
    .image-section{
      padding: 0px;
    }
    .image-section img{
      width: 100%;
      height:420px;
      position: relative;
    }
    .user-image{
      position: absolute;
      margin-top:-100px;
    }
    .user-left-part{
      margin: 0px;
    }
    .user-image img{
      width:200px;
      height:200px;
    }
    

    .nav-link{
      font-size: 1.2em;    
    }

    .card{
        border-radius: 10px;
        box-shadow: 0 5px 7px 0 rgba(69,0,50,0.08);
    }
    